<h1>Index of Authors</h1>

<img
 style="display: none;"
 src="https://i.redd.it/ounq1mw5kdxy.gif" />

<table class="authors">
  <% @authors.each do |author| %>
    <%= render 'author', author: author %>
  <% end %>
</table>
<hr/>

<%= form_for @author, remote: true, html: { class: 'new-author' } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>

  <%= f.label :surname %>
  <%= f.text_field :surname %>
  <br/>

  <%= f.label :age %>
  <%= f.number_field :age %>
  <br/>

  <%= f.submit 'Save' %>
<% end %>
